*{
    margin: auto;
    padding: 0;
}

.about-text{
    padding-top: 20px;
    font-size: 26px;

}


header{
    background-color:#DCDCDC;
    position: relative;
    width: 85vw;

    
    
}

footer{
    position: relative;
    background-color:#DCDCDC
    
}

a{
    text-decoration: none;
}

main{
    margin: auto;
    background-color:	#1C1C1C
}

.menu{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.item-menu{
    font: 500 16px Poppins;
    font-size: 25px;
    color: dimgray;
}

#footer-text{
        font-size: 25px;
        color: dimgray;
        font: 500 16px Poppins;
}

.partners{
display: flex;
margin-top: 490px;
}

.slogan{
   
    margin-top: 490px;
padding-bottom: 40px;
    }

.img-partner{
justify-content: space-between;
height: 50px;
}

.content{
    padding-top: 30px;
    
}


.logo{
    width: 337px;
    height: 111px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
}


header p{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: auto;
   
}


.about{
    width: 1024px;
    
}

.jobs{
    padding: 30px;
}


body{
    background-color: #DCDCDC;
}


.footer-text{
    display: flex;
  justify-content: center;
}

body,
input,
button{
    font: 500 16px Poppins;
    color: #808080
}

input[type="radio"]{
    margin-left: 16px;
    margin-right: 0;
    align-content: flex-start;
}

.container{
    width: 90vw;
    max-width: 700px;
}


.input-block{
    margin-top: 32px;
    position: relative;
}

.input-block + .input-block{
    margin-top: 14px;
}
.input-block + .input-block-radio{
    margin-top: 14px;
}

.input-block-radio + .input-block{
    margin-top: 14px;
}

.input-block-radio :first-child{
    margin-left: 0;
}

.input-block label{
    font-size: 14px;
}


.input-block input,
.input-block select{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: #F8F8FC;
    border: 1px solid #E6E6F0;
    outline: 0;
    font: 16px Archivo;
}

.input-block textarea{
    border-radius: 8px;
    background-color: #F8F8FC;
    border: 1px solid #E6E6F0;
    outline: 0;
    font: 16px Archivo;
}



.input-block:focus-within::after{
    width: calc(100% - 32px);
    height: 3px;
    content: '';
    background-color: #696969;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
}

.container button{
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font: 700 16px Archivo;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #A9A9A9;
    transition: background-color 0.2s;
    margin-bottom: 30px;
}

.container button:hover{
    background-color: #696969;
}



ul{
    list-style: none;
    display: flex;
    margin: auto;
}

.min{
    width: 200px;
    padding: 10px;
}

.welcome{
    background-image: url("../img/Internet_Business_Technology_HD_Wallpaper_15_1920x1080.jpg");
    width: 100vw;
}  

.subtitle{
    font-size: 60px;
    color: #DCDCDC;
    position: relative;
    
}

.title{
    padding-top: 20px;
    font-size: 26px;
    color: #A9A9A9;
    position: relative;
    
}

.welcome-title{
    color: #DCDCDC;
    font-size: 60px;
    
}
